<div class="sub_header">
  <h1>All Artists</h1>
  <h3><%= link_to "Create a New Artist", new_artist_path %></h3>
</div>

<div class="cards">
  <% @artists.each do |artist| %>
    <div class="card">
      <a href='/artists/<%=artist.id%>'>
      <img src="celiacruz.png" alt="Avatar" style="width:100%" >
      <div class="container">
        <div id="artist-<%=artist.id%>">
        <h4><b><%=artist.name%></b></h4>
        </div>
      </div>
    </a>
    </div>
  <% end %>
</div>
