<div class="sub_header">
  <h1>All Playlists</h1>
</div>

<h3><%= link_to "Create a New Playlist", new_playlist_path %></h3>

<% @playlists.each do |playlist| %>
  <div id="playlist-<%=playlist.id%>">
    <%= link_to playlist.title, playlist_path(playlist) %>
  </div>
<% end %>
